*{
    padding: 0;
    margin: 0;
}
ul,
ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
span{
    /* display: inline-block; */
}
h1,h2,h3,h4,h5,h6,ul,ol,li{
    margin: 0;
    padding: 0;
}

/* ######################################################### 
                menu style start
 ######################################################### */
 .menu_bar{
     height: 50px;
     background: rgba(53, 53, 53, 0.25);
     top: 30px;
     position: absolute;
     width: 100%;
     z-index: 999;
 }
 .menu_bar ul li a{
       line-height: 50px;
       padding: 0;
       font-family: 'Oswald', sans-serif;
       font-weight: 400;
       font-size: 14px;
       color: #f1f1f1;
       transition: all linear 0.3s;
       text-transform: uppercase;
      
 }
 .menu_bar ul li a:hover{
     background-color:#f1f1f1;
     border-bottom: 3px solid #e23e38;
     color: #222222;
 }
 .menu_bar .navbar-brand{
     width: 200px;
     height: 70px;
     background:rgb(50, 50, 50);
     text-align: center;
    line-height: 70px;
    transform: skew(-27deg);
    border-left: 3px solid #020202 ;
    border-right: 3px solid #020202 ;
 }
 .menu_bar .navbar-brand img{
transform: skew(27deg);
 }
 


 /* ######################################################### 
                 menu style end
 ######################################################### */

  /* ######################################################### 
                 banner style start
 ######################################################### */
 /* .banner_part{
     position: absolute;
 } */
 .banner_img{
    padding: 255px 0px 115px 0; 
    position: relative;
 }
 .banner{
     position: relative;
    
    
    
 }
 .banner .slick-dots{
     display: flex;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translate(-50%);
    

 }
 .banner .slick-dots li {
     margin-right: 10px;
 }
 .banner .slick-dots li button{
     font-size: 0px;
    
     height: 20px;
     width: 20px;
     border-radius: 50%;
     cursor: pointer;
     border: 2px solid #f1f1f1;
    background: transparent;
     }
     .banner .slick-dots .slick-active button{
         background-color: red;
         border: 2px solid red;
     }

     .banner_img .overly{
         width: 100%;
         height: 100%;
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         background: rgba(0, 0, 0, 0.5);
       
        
     }
     .banner_text{
        
         text-align: center;
         position: relative;
         z-index: 999;
     }
     .banner_text h2{
         font-family:'Oswald', sans-serif ;
         font-weight: 700;
         font-size: 30px;
         color: #ffffff;
         text-transform: uppercase;
         position: relative;
     }
     .banner_text h2::after,
     .banner_text h2::before{
         position: absolute;
         content: '';
         height: 3px;
        
         background: red;
        
         top: 21px;

     }
     .banner_text h2::after{
        width: 165px;
        left: 60px;
     }
     .banner_text h2::before{
         width: 122px;
         right: 75px;
     }
     .banner_text h1{
        font-size:'Oswald', sans-serif ;
        font-weight: 700;
        font-size: 60px;
        color: #e23e38;
        text-transform: uppercase;
        position: relative;
    }
    .banner_text h1::after,
    .banner_text h1::before{
        position: absolute;
        content: '';
        width: 3px;
        height: 195px;
       
        background: red;
       
        top: -20px;
    }
    .banner_text h1::after{
        left: 60px;
    }
    .banner_text h1::before{
        right: 75px;
    }
    .banner_text p{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #dddddd;
        position: relative;
    }
    .banner_text p::after,
    .banner_text p::before{
        position: absolute;
         content: '';
         height: 3px;
        
         background: red;
        
         bottom: -60px;
    }
    .banner_text p::after{
        width: 104px;
        left: 60px;
    }
    .banner_text p::before{
        width: 65px;
        right: 75px;
    }

    .banner_text a{
        padding: 0 13px;
        line-height: 35px;
        border: 2px solid wheat;
        text-transform: uppercase;
        font-family:'Oswald', sans-serif ;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        margin-left: 25px;
        transition: all linear 0.3s;
    }
    .banner_text a:hover{
        border: 2px solid red;
        background: red;
    }


  /* ######################################################### 
                 banner style end
 ######################################################### */

   /* ######################################################### 
                 about style start
 ######################################################### */
 .about_part{
     padding: 80px 0;
 }
 .about_img{
     position: relative;
 }
 .about_img .overly{
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.6);
 }
 .about_img .overly  i{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 20px;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     background: #e23e38;
     text-align: center;
     line-height: 50px;
 }
 .about_text h3{
     font-family:'Oswald', sans-serif  ;
     font-weight: 400;
     font-size: 22px;
     color: #222222;
     text-transform: uppercase;
     margin-bottom: -2px;
 }
 .about_text p{
     font-family:'Open Sans', sans-serif ;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #444444;
     padding: 8px 57px;
 }
 

   /* ######################################################### 
                 about style end
 ######################################################### */

   /* ######################################################### 
                 gallery style start
 ######################################################### */
 .gallery_head h3{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: -2px;

 }
 .gal_part{
     position: relative;
     padding: 30px 0;
     margin-top: 30px ;
   
 }
 .gal_part::after{

    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
 }
 .gal_cont{
     position: relative;
     z-index: 999;
 }
 .gal_img{
     position: relative;
 }
 .gal_img:first-child{
     margin-bottom: 30px;
 }
 .gal_img .overly{
     position: absolute;
     content: '';
     top: 10px;
     left: 10px;
     right: 10px;
     bottom: 10px;
     background: rgba(226, 62, 56, 0.5);
     border: 5px solid rgba(191, 188, 177, 0.5);
     transition: all linear 0.4s;
     transform: scale(0);
 }
 .gal_img:hover .overly{
    transform: scale(1);

 }
 .gal_img .overly i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
   color: #ffffff;
 }

   /* ######################################################### 
                 gallery style end
 ######################################################### */

 /* ######################################################### 
                 team style start
 ######################################################### */
.team_part{
    padding-top: 80px ;
}
.team_head h3{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: -2px;
}
.team_text h4{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    margin-top: 20px;
   
}
.team_text h5{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
    
}
.team_text p{
    font-family:'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #444444;
    padding: 0 22px;
    transform: scale(0);
    transition: all linear 0.4s;
}
.team_pic{
    padding-top: 72px;
}
.team_img{
    position: relative;
}
.team_img .overly{
    position: absolute;
     content: '';
     top: 10px;
     left: 10px;
     right: 10px;
     bottom: 10px;
     background: rgba(226, 62, 56, 0.5);
     border: 5px solid rgba(191, 188, 177, 0.5);
     transition: all linear 0.4s;
     transform: scale(0);
}
.team_img .overly ul {
    position: absolute;
    right: 20px;
    top: 50%;
  transform: translateY(-50%);
}
.team_img .overly ul li a {
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all linear 0.4s;

}
.team_img .overly ul li a:hover{
    color: blue;
    background: #ffffff;
}

.team_col:hover .team_img .overly{
    transform: scale(1);
}
.team_col:hover .team_text p{
    transform: scale(1);
}
.team_col{
    transition: all linear 0.4s;
}
.team_col:hover{
    transform: translateY(-45px);
}



 /* ######################################################### 
                 team style end
 ######################################################### */

 
 /* ######################################################### 
                 testimonial style start
 ######################################################### */
 .testimonial_part{
     padding-bottom: 80px;
 }
 .testimonial_head{
     margin-bottom: 20px;
 }
 .testimonial_head h3{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: -2px;
 }
 .testimonial_text{
     position: relative;
     padding: 30px 0 80px 0;
     z-index: 999;
 }
 .testimonial_text::after{
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: -1;
 }
 .test_head h4{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff; 
    text-transform: uppercase;  

 }
 .test_head h5{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff; 
    
 }
 .test_head i{
     color:#e23e38;
 }
 .test_text p{
    font-family:'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    
  

 }
 .text_slide ul {
    display: flex;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%);
    width: auto;
 }
 .text_slide ul li button{
     font-size: 0px;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     cursor: pointer;
     border: 2px solid #f1f1f1;
    background: transparent;
    margin-left: 10px;
     
 }
 .text_slide ul .slick-active button{
    background-color: red;
    border: 2px solid red;
}
 


 
 /* ######################################################### 
                 testimonial style end
 ######################################################### */

 /* ######################################################### 
                 membership style start
 ######################################################### */
 .member_part{
     padding-bottom: 80px;
 }
.membership_head h3{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 22px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: -2px;
}
.member_text{
    margin-top: 20px;
}
.col_part h4{
    font-family:'Oswald', sans-serif  ;
    font-weight: 700;
    font-size: 16px;
    color:#222222;
    background-color: #ddddd9;
    line-height: 55px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    transition: all linear 0.4s;
}
.col_part h3{
    font-family:'Oswald', sans-serif  ;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
    padding: 36px 0;
    position: relative;
    z-index: 999;
    margin: 0;
}
.col_part h3 span{
    font-size: 29px;
}
.col_part h3::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;

}
.col_part ul{
    padding:20px 0;
    background-color: #f1f1f1;
    margin: 0;
}
.col_part ul li{
    font-family:'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 14px;
    color: #444444;
    margin-bottom: 25px;

}
.col_part a{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 16px;
    color:#222222;
    background-color: #dddddd;
    margin: 0;
    display: block;
    line-height: 34px;
    text-transform: uppercase;
    transition: all linear 0.4s;
}
   


 /* ######################################################### 
                 membership style end
 ######################################################### */

  /* ######################################################### 
                 counter style start
 ######################################################### */

.counter_part{
    padding: 45px 0;
    position: relative;
    z-index: 999;
    
}
.counter_part::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.9 );
    z-index: -1;
    
}
.counter_text h2{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 40px;
    color:#ffffff;
}
.counter_text p{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 16px;
    color:#ffffff;
}
  /* ######################################################### 
                 counter style end
 ######################################################### */

 /* ######################################################### 
                 class style start
 ######################################################### */
 .class_part{
     padding: 80px 0;
 }
 .class_text{
     margin-top: 40px ;
 }
.nav_head  li{
 width: 16.66%;
 text-align: center;
 background-color: #f1f1f1;
 line-height: 50px;
}

.nav_head  li button{
    width: 100%;
    padding: 0;
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;

    
}
.nav_head .nav-link.active, 
.nav_head .show>.nav-link{
    background-color: #e23e38;
    width: 100%;
    border-radius: 0;
}
.count_text{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.count_text li{
    width: 19.5%;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color:#f1f1f1 ;
    padding: 32px 0;
    transition: all linear 0.3s;
}
.count_text li:nth-child(1),
.count_text li:nth-child(6){
    margin-left: 0;
}
.count_text li:hover{
    background-color: #e23e38;
    color: #ffffff;
}
.count_text li i{
    font-size: 50px;
}


 /* ######################################################### 
                 class style end
 ######################################################### */

 /* ######################################################### 
                 logo style start
 ######################################################### */
.logo_part{
    padding-bottom: 80px;
}
.logo_slider .slick-slide{
    padding: 0 12px;
    
}
.logo_slider .slick-current img{
   box-shadow: 0 0 20px 0; 
}

.logo_slider .draggable{
    padding: 20px 0 !important;
}
.logo_slider{
    position: relative;
}
.logo_slider .prev_arrow,
.logo_slider .next_arrow
{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #e23e38;
    z-index: 999;
   
}
.logo_slider .next_arrow{
    
    right: 0;
}
.logo_slider .prev_arrow{
   left: 0;
}



 /* ######################################################### 
                 logo style end
 ######################################################### */

 
 /* ######################################################### 
                 footer style start
 ######################################################### */
.footer_part{
    position: relative;
    z-index: 999;
}
.footer_part::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.footer_logo{
    padding: 30px 0;
}
.footer_fast ul{
    margin: 0;
}
.footer_text{
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.footer_row{
    margin: 30px 0 ;
}
.footer_first h4{
    font-family:'Oswald', sans-serif  ;
    font-weight: 400;
    font-size: 14px;
    color:#ffffff;
    text-transform: uppercase;
}
.footer_first ul{
    padding-top: 20px;
}
.footer_first ul li{
    font-family:'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 13px;
    color: #dddddd;
}
.footer_first ul li span{
 margin-left: 30px;
}
.footer_first ul li i{
    font-size: 20px;
    color: #1da1f2;
}
.footer_first ul li{
    display: flex;
}
.footer_first ul li  p {
   margin-left: 10px;
}
.footer_img ul{
    display: flex;
    flex-wrap: wrap;
}
.footer_img ul li{
    width: 25%;
    margin-bottom: 5px;
}
.footer_img ul li img{
    max-width: 100%;
    width: 100%;
    margin-right: 5px;
}
.footer_first p i{
    color: #e23e38;
    margin-right: 10px;
}
.footer_first p{
    font-family:'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 13px;
    color: #dddddd;

}
.footer_icon {
    /* margin-top: 25px; */
}
.footer_add{
    margin-top: 25px;
}
.footer_icon ul{
    display: flex;
    
}
.footer_icon ul li{
    margin-right: 10px;
}
.footer_icon ul li a{
width: 30px;
height: 30px;
border: 1px solid #ffffff;
font-size: 16px;
text-align: center;
line-height: 30px;
transition: all linear 0.3s;
}
.footer_icon ul li a i{
    color: #ffffff;
}
.footer_icon ul li a:hover{
    background-color: #e23e38;
    border: 1px solid #e23e38;
}
 
 .footer_last p{
    font-family:'Open Sans', sans0 -seif ;
    font-weight: 400;
    font-size: 13px;
    color: #dddddd;
    line-height: 40px;
 }
 .footer_last p span{
     color: #e23e38;
 }
 /* ######################################################### 
                 footer style end
 ######################################################### */